@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text-appearance {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-text-appearance {
	animation: text-appearance 1s ease-out;
}
